/* предварительная подготовка, обнуление всего */
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    height: 100%;
}

body {
    /* ШРИФТ */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}


.container {
    /*ширина контента - 1180 px + 30 - padding по 15 px слева-справа, 0 верх-вниз*/
    max-width: 1210px;
    padding: 0px 15px;
    margin: 0 auto;
}

/* предварительная подготовка - end*/

/* header */
.header {
    background-color: antiquewhite;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 21px;
}

.logo {
    background-color: aqua;
    display: flex;
    align-items: center;
}

.logo__img-wrap {
    border: 2px solid #000000;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 16px;
    display: flex;
    align-items: center;

}

.logo__img {
    width: 70%;
    height: 80%;
    object-fit: contain;
}

.logo__desc {
    line-height: 131.19%;
}

.logo__title {}

.logo_subtitle {}

.nav {}

.nav__list {}

.nav__item {}

.nav_link {}

.tel {}

.cart {}

.cart__img-wrap {}

.cart__img {}

.cart__price {}

.cart__value {}

.cart__btn {}

.cart__btn-img {}